* {
  padding: 0;
  margin: 0;
}

body {
  background: #DAEAF2 url("images/bg.png") repeat;
  color: black;
  font-size: 12pt;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
}

header {
  padding: 10px;
  background: #2c3e50;
  color: #ffffff;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 10px;
}

header h1 {
  float: right;
  width: 490px;
  margin-top: 7px;
}

main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: url("images/bg_page.png") repeat-y;
}

footer {
  box-shadow: rgba(0, 0, 0, 0.4) 0 -3px 10px;
  left: 0; bottom: 0;
  padding: 20px;
  background: #39b54a;
  color: #ffffff;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer h4 {
  color: #FFFFFF;
  margin-bottom: 7px;
}

footer .about {
  margin-top: 7px;
}

footer ul {
  margin-left: 20px;
}

footer a{
  color: #FFFFFF;
}

footer a:hover {
  background: rgba(186, 215, 139, .3);
}

footer a:active {
  color: #2c3e50;
}

footer a:visited {
  color: #2c3e50;
}

h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
}

.content h1, h2, h3 {
  color: #39b54a;
  text-align: center;
  margin: 15px 0 10px 0;
}

.content p {
  margin-top: 10px;
}

.content ul {
  margin-top: 8px;
  margin-left: 20px;
}

.content li {
  list-style-type: none;
}

.content li:before {
  color: #39b54a;
  content: "-";
  padding-right: 10px;
 }

hr {
  margin: 10px;
  height: 3px;
  background-color: #39b54a;
  border: none;
}

a {
  text-decoration: none;
  color: #39b54a;
}

nav {
  margin-top: 10px;
  margin-bottom: -25px;
  top: -50px;
  position: sticky;
  background: #FFFFFF;
}

nav:hover {
  top: 0px;
  position: sticky;
  background: #FFFFFF;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav li {
  display: inline-block;
}
nav a {
  padding: 16px;
  display: block;
  color: #2c3e50;
  background: rgba(186, 215, 139, .3);
}
nav a:hover {
  background: #ADBCCC
}

main img {
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
}

.main_block .center p {
  font-style: italic;
}

#description:before {
	display: block;
	content: "";
	height: 60px;
	margin: -60px 0 0;
}

#sorts:before {
	display: block;
	content: "";
	height: 60px;
	margin: -60px 0 0;
}

#care:before {
	display: block;
	content: "";
	height: 60px;
	margin: -60px 0 0;
}

.right_column {
  float: right;
  width: 300px;
}

.left_column {
  width: 300px;
}

.content {
  padding: 10px;
}

.main_block .center {
  padding-top: 10px;
  text-align: center;
}

.leftrow {
  color: #F2F2F2;
  line-height: 1.2;
  width: 250px;
}
.rightrow {
  color: #F2F2F2;
  line-height: 1.2;
  float: right;
  width: 250px;
}

.center {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.main_block {
  width: 600px;
  margin-left: 100px;
}
